body {
  background-image: url("../images/resto.jpg");
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  font-size: 8px;
  opacity: 0.96; }

.container-fluid {
  width: 100%; }

.bg-color {
  position: relative;
  height: 400px; }

.bienvenue {
  font-family: 'Lobster', cursive;
  text-align: justify;
  border: 1px solid white;
  border: 6px solid #812414;
  padding: 5%;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  /*margin-left: -40px;*/
  background-image: linear-gradient(to right, #7BB062, #cccc00);
  color: black; }
  .bienvenue h3 {
    margin-top: 0;
    text-align: center;
    font-weight: bold; }
  .bienvenue p {
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: sans-serif;
    font-size: 200%; }

.panel1 img {
  position: relative;
  width: 180px;
  height: 250px;
  margin: 8px;
  background-color: #B3C121;
  border: 4px solid #832815;
  margin-left: 20%;
  border-radius: 5%; }

.panel2 img {
  position: relative;
  width: 180px;
  height: 250px;
  margin: 8px;
  background-color: #B3C121;
  border: 4px solid #832815;
  border-radius: 5%; }

.bg-color1 img {
  position: relative;
  margin-top: 2%;
  background-color: #D8D6C9;
  width: 280px;
  border: 6px solid #812414;
  border-radius: 35%;
  z-index: 999;
  /*height: 50%;*/ }

#bg-colornav {
  width: 100% !important;
  position: fixed;
  z-index: 999;
  /*background-color: #D8D6C9;*/
  font-size: 250%;
  font-weight: bold;
  background-color: #7BB062;
  top: 11%;
  border-top: 3px solid #812414;
  border-bottom: 3px solid #812414;
  padding: 0 !important;
  left: 0; }
  #bg-colornav a {
    text-decoration: none;
    color: white; }
  #bg-colornav li {
    margin: 2%;
    display: inline; }

#minilogo img {
  width: 90px;
  height: auto;
  border: 2px solid #842915;
  border-radius: 30px;
  background-color: white;
  margin-left: 10%; }

/*content*/
.content {
  position: relative;
  width: 100%;
  height: auto; }

.jumbotron {
  position: inherit;
  background-color: inherit; }

.bg-color3 img {
  background-image: linear-gradient(to left, #7BB062, #cccc00);
  /*margin-left: 10%;*/
  width: 70%;
  height: auto;
  border: 6px solid #812414;
  padding: 5%;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  min-width: 300px; }

.bg-color4 {
  border: 3px solid #812414;
  background-color: #7BB062;
  height: 152px; }
  .bg-color4 img {
    /*margin-left: 15%;*/
    margin-top: 25%;
    width: 100%;
    height: 130%; }
  .bg-color4b {
    margin-left: 40%;
    margin-top: -14%;
    font-size: 350%; }
  .bg-color4 a {
    font-family: 'Lobster', cursive;
    color: #822714; }

.bg-color5 {
  border: 3px solid #812414;
  background-color: #7BB062;
  height: 152px; }
  .bg-color5 img {
    /*margin-left: 15%;*/
    width: 35%;
    height: 100%; }
  .bg-color5 a {
    font-family: 'Lobster', cursive;
    font-size: 350%;
    color: #822714; }

.fa {
  color: #7CAD5E;
  margin: 3%; }

.bg-color61 {
  position: relative;
  width: 100%;
  color: white;
  padding-left: 6%; }

/*footer*/
.bg-color6 {
  position: relative;
  width: 100%;
  color: white; }
  .bg-color6 a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-weight: bold; }
  .bg-color6 li {
    text-decoration: none;
    display: inline-block;
    margin: 3%; }
  .bg-color6 h6 {
    font-size: 280%;
    font-weight: 500; }
  .bg-color6 p {
    font-size: 150%;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550; }

.bg-colorfooter {
  background-color: #7D2313; }

.bg-color7 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 11px;
  position: relative;
  width: 100%;
  background-color: black;
  color: white; }

.titremenu {
  position: relative;
  width: 100%;
  color: white;
  background-color: #832815;
  opacity: 0.9; }

.bg-colormenu {
  background-color: #7DAF62;
  color: black;
  font-size: 150%;
  opacity: 0.95;
  border-bottom: 3px solid #863C1A;
  margin-top: 1%; }
  .bg-colormenu h3 {
    text-align: center; }
  .bg-colormenu h4 {
    padding-top: 5%;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 300%;
    color: #822714; }

.bg-colorgalerie {
  position: relative;
  background-color: #7CAE60;
  border-bottom: 20px solid #842B1A;
  margin-top: 8px; }

.bg-colorh3 {
  background-color: #842B1A;
  color: white;
  text-align: center; }

.carousel-item {
  margin-bottom: 5%; }
  .carousel-item img {
    max-width: 800px;
    height: 500px;
    max-height: 400px;
    margin-left: 18%; }

.bg-colorslides img {
  margin-top: 50px;
  border: 10px solid white; }

.pagination {
  background-color: #842B1A;
  margin: 2%;
  padding-left: 32%; }

.threepictures img {
  position: relative;
  border: 10px solid white;
  width: 100%;
  height: 100%; }

.restotitle {
  margin-top: 2%;
  color: white;
  background-color: #842B1A;
  text-align: center; }
  .restotitle p {
    font-size: 350%; }

.bg-colorrestoadresse {
  position: relative;
  background-color: #7EB164; }
  .bg-colorrestoadresse p {
    font-size: 170%; }
  .bg-colorrestoadresse h6 {
    color: white; }

.maps {
  background-color: #842B1A; }

iframe {
  width: 600px;
  height: 400px;
  margin-top: 10%;
  margin-bottom: 30px; }

.contactrow {
  margin-top: 2%;
  border-top: 4px solid white; }

.contactsubscribe {
  background-color: #812613;
  opacity: 0.9;
  font-size: 180%;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px; }
  .contactsubscribe h3 {
    padding-bottom: 1%;
    border-bottom: 1px solid white;
    text-align: center; }

.contactform {
  background-color: #78AB5E;
  opacity: 0.9;
  font-size: 180%;
  padding-bottom: 20px;
  padding-top: 10px; }
  .contactform h3 {
    text-align: center;
    padding-bottom: 1%;
    border-bottom: 1px solid white; }

.contactadresse {
  background-color: #812613;
  opacity: 0.9;
  font-size: 180%;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px; }
  .contactadresse h4 {
    padding-bottom: 1%;
    border-bottom: 1px solid white; }
  .contactadresse h5 {
    padding-bottom: 1%;
    border-bottom: 1px solid white; }

@media screen and (min-width: 319px) and (max-width: 480px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 150px; }

  .bg-colorgalerie {
    margin-top: 150px; }

  .restotitle {
    margin-top: 150px; }

  .contactrow {
    margin-top: 150px; }

  iframe {
    width: 298px;
    height: auto; } }
@media screen and (min-width: 1020px) and (max-width: 1024px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 180px; }

  .bg-colorgalerie {
    margin-top: 180px; }

  .restotitle {
    margin-top: 180px; }

  .contactrow {
    margin-top: 180px; }

  iframe {
    width: 480px;
    height: 350; } }
@media screen and (min-width: 750px) and (max-width: 768px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 200px; }

  .bg-colorgalerie {
    margin-top: 200px; }

  .restotitle {
    margin-top: 238px; }

  .contactrow {
    margin-top: 200px; }

  iframe {
    width: 740px;
    height: 400; } }
@media screen and (min-width: 400px) and (max-width: 414px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 170px; }

  .bg-colorgalerie {
    margin-top: 170px; }

  .restotitle {
    margin-top: 170px; }

  .contactrow {
    margin-top: 170px; }

  iframe {
    width: 380px;
    height: 200px; } }
@media screen and (min-width: 720px) and (max-width: 736px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 230px; }

  .bg-colorgalerie {
    margin-top: 230px; }

  .restotitle {
    margin-top: 230px; }

  .contactrow {
    margin-top: 230px; }

  iframe {
    width: 100%;
    height: 350px; } }
@media screen and (min-width: 370px) and (max-width: 375px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 168px; }

  .bg-colorgalerie {
    margin-top: 168px; }

  .restotitle {
    margin-top: 180px; }

  .contactrow {
    margin-top: 168px; }

  iframe {
    width: 350px;
    height: 200px; } }
@media screen and (min-width: 660px) and (max-width: 667px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 130px; }

  .bg-colorgalerie {
    margin-top: 130px; }

  .restotitle {
    margin-top: 130px; }

  .contactrow {
    margin-top: 130px; }

  iframe {
    width: 640px;
    height: 350; } }
@media screen and (min-width: 795px) and (max-width: 800px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 230px; }

  .bg-colorgalerie {
    margin-top: 230px; }

  .restotitle {
    margin-top: 230px; }

  .contactrow {
    margin-top: 230px; }

  iframe {
    width: 765px;
    height: 350px; } }
@media screen and (min-width: 1250px) and (max-width: 1280px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    margin-top: 16px; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 18px; }

  .bg-colorgalerie {
    margin-top: 18px; }

  .restotitle {
    margin-top: 18px; }

  .contactrow {
    margin-top: 18px; }

  iframe {
    width: 600px;
    height: 350px; } }
@media screen and (min-width: 540px) and (max-width: 568px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 125px; }

  .bg-colorgalerie {
    margin-top: 125px; }

  .restotitle {
    margin-top: 38%; }

  .contactrow {
    margin-top: 125px; }

  iframe {
    width: 100%;
    height: auto; } }
@media screen and (min-width: 360px) and (max-width: 384px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    margin-top: 16px; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  iframe {
    width: 343px;
    height: 200px; } }
@media screen and (min-width: 630px) and (max-width: 640px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 130px; }

  .restotitle {
    margin-top: 130px; }

  .contactrow {
    margin-top: 130px; }

  iframe {
    width: 100%;
    height: auto; } }
@media screen and (min-width: 900px) and (max-width: 960px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  iframe {
    width: 100%;
    height: 330px; } }
@media screen and (min-width: 260px) and (max-width: 280px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  iframe {
    width: 100%;
    height: 330px; } }
@media screen and (min-width: 820px) and (max-width: 854px) {
  .pagination {
    background-color: #842B1A;
    margin: 2%;
    padding-left: 7%; }

  .bg-color {
    height: 820px; }

  .bg-color61 {
    margin-left: 21%; }

  .bg-colorslides img {
    max-height: 200px;
    min-width: 100%;
    margin-left: -13%;
    position: relative;
    margin-left: 0.5%; }

  .bg-color3 img {
    margin-left: -9%;
    margin-top: 48%;
    max-height: 250px; }

  .bienvenue {
    margin-top: 22px; }

  .bg-colornav {
    margin-left: -12%;
    padding-right: 22%; }

  .bg-color1 {
    display: none; }

  .panel2 img {
    margin-left: 20%;
    margin-top: -5px; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  iframe {
    width: 100%;
    height: 330px; } }

/*# sourceMappingURL=style.css.map */
