body {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("../images/resto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 8px;
  opacity: 0.96; }

section {
  position: relative;
  width: 100%;
  height: auto; }

.container-fluid {
  position: relative;
  width: 100%;
  height: auto; }

.bg-color {
  position: relative;
  width: 100%;
  height: auto; }

.bienvenue {
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Lobster', cursive;
  border: 1px solid white;
  border: 6px solid #812414;
  padding: 5%;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background-image: linear-gradient(to right, #7BB062, #cccc00);
  color: black; }
  .bienvenue h3 {
    font-weight: bold; }
  .bienvenue p {
    font-family: sans-serif;
    font-size: 200%; }

.panel1 {
  position: relative;
  width: 100%;
  height: auto; }
  .panel1 img {
    width: 96%;
    height: auto;
    margin: 8px;
    background-color: #B3C121;
    border: 4px solid #832815; }

.panel2 {
  position: relative;
  width: 100%;
  height: auto; }
  .panel2 img {
    width: 100%;
    height: auto;
    margin: 8px;
    background-color: #B3C121;
    border: 4px solid #832815;
    border-radius: 5%; }

.bg-color1 img {
  position: relative;
  margin-top: 2%;
  background-color: #D8D6C9;
  width: 100%;
  height: auto;
  border: 6px solid #812414;
  border-radius: 35%;
  z-index: 999; }

#bg-colornav {
  position: relative;
  width: 100% !important;
  height: auto;
  position: fixed;
  z-index: 999;
  font-size: 250%;
  font-weight: bold;
  background-color: #7BB062;
  top: 11%;
  border-top: 3px solid #812414;
  border-bottom: 3px solid #812414;
  padding: 0 !important;
  left: 0; }
  #bg-colornav a {
    text-decoration: none;
    color: white; }
  #bg-colornav li {
    margin: 2%;
    display: inline; }

#minilogo img {
  width: 90px;
  height: auto;
  border: 2px solid #842915;
  border-radius: 30px;
  background-color: white;
  margin-left: 10%; }

/*content*/
.content {
  position: relative;
  width: 100%;
  height: auto; }

.jumbotron {
  position: relative;
  width: 100%;
  height: auto;
  background-color: inherit; }

.bg-color3 img {
  position: relative;
  background-image: linear-gradient(to left, #7BB062, #cccc00);
  width: 100%;
  height: auto;
  border: 6px solid #812414;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  min-width: 273px; }

.bg-color4 {
  border: 3px solid #812414;
  background-color: #7BB062;
  width: 100%;
  height: auto; }
  .bg-color4 img {
    margin-top: 25%;
    width: 100%;
    height: auto; }
  .bg-color4b {
    font-size: 350%; }
  .bg-color4 a {
    font-family: 'Lobster', cursive;
    color: #822714; }

.bg-color5 {
  border: 3px solid #812414;
  background-color: #7BB062;
  width: 100%;
  height: auto; }
  .bg-color5 img {
    width: 100%;
    height: auto; }

.fa {
  color: #7CAD5E;
  margin: 3%; }

.bg-color61 {
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  padding-left: 6%; }

.bg-color6 {
  position: relative;
  width: 100%;
  height: auto;
  color: white; }
  .bg-color6 a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-weight: bold; }
  .bg-color6 li {
    text-decoration: none;
    display: inline-block;
    margin: 3%; }
  .bg-color6 h6 {
    font-size: 280%;
    font-weight: 500; }
  .bg-color6 p {
    font-size: 150%;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550; }

.foota {
  background-color: #7D2313; }

.bg-color7 {
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: -13px;
  font-size: 11px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  color: white; }

.titremenu {
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  background-color: #832815;
  opacity: 0.9; }

.bg-colormenu {
  background-color: #7DAF62;
  color: black;
  font-size: 150%;
  opacity: 0.95;
  border-bottom: 3px solid #863C1A;
  margin-top: 1%; }
  .bg-colormenu h3 {
    text-align: center; }
  .bg-colormenu h4 {
    padding-top: 5%;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 300%;
    color: #822714; }

.bg-colorgalerie {
  position: relative;
  background-color: #7CAE60;
  border-bottom: 20px solid #842B1A;
  margin-top: 8px; }

.bg-colorh3 {
  background-color: #842B1A;
  color: white;
  text-align: center; }

.carousel-item img {
  margin-top: 50px;
  border: 10px solid white; }

.troisfotos {
  padding-top: 2%;
  padding-bottom: 2%; }

.pagination {
  background-color: #842B1A; }

.threepictures img {
  position: relative;
  border: 10px solid white;
  width: 100%;
  height: 100%; }

.restotitle {
  margin-top: 2%;
  color: white;
  background-color: #842B1A;
  text-align: center; }
  .restotitle p {
    font-size: 350%; }

.bg-colorrestoadresse {
  position: relative;
  background-color: #7EB164; }
  .bg-colorrestoadresse p {
    font-size: 170%; }
  .bg-colorrestoadresse h6 {
    color: white; }

.maps {
  background-color: #842B1A; }

iframe {
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 30px; }

.contactrow {
  margin-top: 2%;
  border-top: 4px solid white; }

.contactsubscribe {
  background-color: #812613;
  opacity: 0.9;
  font-size: 180%;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px; }
  .contactsubscribe h3 {
    padding-bottom: 1%;
    border-bottom: 1px solid white;
    text-align: center; }

.contactform {
  background-color: #78AB5E;
  opacity: 0.9;
  font-size: 180%;
  padding-bottom: 20px;
  padding-top: 10px; }
  .contactform h3 {
    text-align: center;
    padding-bottom: 1%;
    border-bottom: 1px solid white; }

.contactadresse {
  background-color: #812613;
  opacity: 0.9;
  font-size: 180%;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px; }
  .contactadresse h4 {
    padding-bottom: 1%;
    border-bottom: 1px solid white; }
  .contactadresse h5 {
    padding-bottom: 1%;
    border-bottom: 1px solid white; }

@media screen and (min-width: 260px) and (max-width: 280px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  .bg-color3 img {
    margin-top: 125px; } }
@media screen and (min-width: 281px) and (max-width: 384px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  .bg-color3 {
    margin-top: 130px; } }
@media screen and (min-width: 385px) and (max-width: 480px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 150px; }

  .bg-colorgalerie {
    margin-top: 150px; }

  .restotitle {
    margin-top: 150px; }

  .contactrow {
    margin-top: 150px; }

  .jumbotron {
    margin-top: 150px; } }
@media screen and (min-width: 481px) and (max-width: 568px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 125px; }

  .bg-colorgalerie {
    margin-top: 125px; }

  .restotitle {
    margin-top: 38%; }

  .contactrow {
    margin-top: 125px; }

  .bg-color3 {
    margin-top: 180px; } }
@media screen and (min-width: 569px) and (max-width: 640px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 130px; }

  .restotitle {
    margin-top: 130px; }

  .contactrow {
    margin-top: 130px; }

  .bg-color3 {
    margin-top: 130px; } }
@media screen and (min-width: 641px) and (max-width: 667px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 130px; }

  .bg-colorgalerie {
    margin-top: 130px; }

  .restotitle {
    margin-top: 130px; }

  .contactrow {
    margin-top: 130px; }

  .bg-color3 {
    margin-top: 100px; } }
@media screen and (min-width: 668px) and (max-width: 736px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 230px; }

  .bg-colorgalerie {
    margin-top: 230px; }

  .restotitle {
    margin-top: 230px; }

  .contactrow {
    margin-top: 230px; }

  .bg-color3 {
    margin-top: 180px; } }
@media screen and (min-width: 737px) and (max-width: 768px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 200px; }

  .bg-colorgalerie {
    margin-top: 200px; }

  .restotitle {
    margin-top: 238px; }

  .contactrow {
    margin-top: 200px; }

  .bg-color3 {
    margin-top: 100px; } }
@media screen and (min-width: 768px) and (max-width: 800px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 230px; }

  .bg-colorgalerie {
    margin-top: 230px; }

  .restotitle {
    margin-top: 230px; }

  .contactrow {
    margin-top: 230px; }

  .bg-color3 {
    margin-top: 190px; } }
@media screen and (min-width: 801px) and (max-width: 854px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  .bg-color3 {
    margin-top: 100px; } }
@media screen and (min-width: 855px) and (max-width: 960px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 160px; }

  .bg-colorgalerie {
    margin-top: 160px; }

  .restotitle {
    margin-top: 160px; }

  .contactrow {
    margin-top: 160px; }

  .bg-color3 {
    margin-top: 100px; } }
@media screen and (min-width: 961px) and (max-width: 1024px) {
  .bg-color1 {
    display: none; }

  .bg-colormenu {
    margin-top: 180px; }

  .bg-colorgalerie {
    margin-top: 180px; }

  .restotitle {
    margin-top: 180px; }

  .contactrow {
    margin-top: 180px; }

  .jumbotron {
    margin-top: 160px; } }
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .bg-color1 {
    margin-top: 16px; }

  .bg-colormenu {
    margin-top: 18px; }

  .bg-colorgalerie {
    margin-top: 18px; }

  .restotitle {
    margin-top: 18px; }

  .contactrow {
    margin-top: 18px; }

  .bg-color3 {
    jumbotron: 100px; } }

/*# sourceMappingURL=style.css.map */
