body {
  background-image: url("../images/resto.jpg");
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  font-size: 8px;
  opacity: 0.96; }

.container-fluid {
  width: 100%; }

.bg-color {
  position: relative;
  height: 400px; }

.bienvenue {
  font-family: 'Lobster', cursive;
  text-align: justify;
  border: 1px solid white;
  border: 6px solid #812414;
  padding: 5%;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  /*margin-left: -40px;*/
  background-image: linear-gradient(to right, #7BB062, #cccc00);
  color: black; }
  .bienvenue h3 {
    margin-top: 0%;
    text-align: center;
    font-weight: bold; }
  .bienvenue p {
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: sans-serif;
    font-size: 200%; }

.panel1 img {
  position: relative;
  width: 180px;
  height: 250px;
  margin: 8px;
  background-color: #B3C121;
  border: 4px solid #832815;
  margin-left: 20%;
  border-radius: 5%; }

.panel2 img {
  position: relative;
  width: 180px;
  height: 250px;
  margin: 8px;
  background-color: #B3C121;
  border: 4px solid #832815;
  border-radius: 5%; }

.bg-color1 img {
  position: relative;
  margin-top: 2%;
  background-color: #D8D6C9;
  width: 100%;
  border: 6px solid #812414;
  border-radius: 35%;
  /*height: 50%;*/ }

.bg-color2 {
  /*background-color: #D8D6C9;*/
  font-size: 250%;
  font-weight: bold;
  white-space: nowrap; }
  .bg-color2 a {
    text-decoration: none;
    color: white; }
  .bg-color2 ul {
    position: relative;
    background-color: #7BB062;
    margin-top: 8.2%;
    border-top: 3px solid #812414;
    border-bottom: 3px solid #812414;
    margin-right: -36.4%;
    margin-left: -1.8%; }
  .bg-color2 li {
    margin: 2%;
    display: inline-block; }

/*content*/
.content {
  position: relative;
  width: 100%; }

.jumbotron {
  position: inherit;
  background-color: inherit; }

.bg-color3 img {
  background-image: linear-gradient(to left, #7BB062, #cccc00);
  /*margin-left: 10%;*/
  width: 80%;
  height: 90%;
  border: 6px solid #812414;
  padding: 5%;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  min-width: 300px; }

.bg-color4 {
  border: 3px solid #812414;
  background-color: #7BB062;
  height: 152px; }
  .bg-color4 img {
    /*margin-left: 15%;*/
    margin-top: 20%;
    width: 100%;
    height: 130%; }
  .bg-color4b {
    margin-left: 40%;
    margin-top: -20%;
    font-size: 350%; }
  .bg-color4 a {
    font-family: 'Lobster', cursive;
    color: #822714; }

.bg-color5 {
  border: 3px solid #812414;
  background-color: #7BB062;
  height: 152px; }
  .bg-color5 img {
    /*margin-left: 15%;*/
    width: 35%;
    height: 100%; }
  .bg-color5 a {
    font-family: 'Lobster', cursive;
    font-size: 350%;
    color: #822714; }

.fa {
  color: #7CAD5E;
  margin: 3%; }

.bg-color61 {
  position: relative;
  width: 100%;
  color: white;
  padding-left: 6%; }

/*footer*/
.bg-color6 {
  position: relative;
  width: 100%;
  color: white; }
  .bg-color6 a {
    text-decoration: none;
    color: white;
    font-size: 250%;
    font-weight: bold; }
  .bg-color6 li {
    text-decoration: none;
    display: inline-block;
    margin: 3%; }
  .bg-color6 h6 {
    font-size: 280%;
    font-weight: 500; }
  .bg-color6 p {
    font-size: 150%;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550; }

.bg-colorfooter {
  background-color: #7D2313; }

.bg-color7 {
  font-size: 11px;
  position: relative;
  width: 100%;
  background-color: black;
  color: white; }

.titremenu {
  position: relative;
  width: 100%;
  color: white;
  background-color: #832815;
  opacity: 0.9; }

.bg-colormenu {
  background-color: #7DAF62;
  color: black;
  font-size: 150%;
  opacity: 0.95;
  border-bottom: 3px solid #863C1A;
  margin-top: 1%; }
  .bg-colormenu h3 {
    text-align: center; }
  .bg-colormenu h4 {
    padding-top: 5%;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 300%;
    color: #822714; }

.bg-colorgalerie {
  position: relative;
  background-color: #7CAE60;
  border-bottom: 20px solid #842B1A; }

.bg-colorh3 {
  background-color: #842B1A;
  color: white;
  text-align: center; }

.carousel-item {
  margin-bottom: 5%; }
  .carousel-item img {
    max-width: 800px;
    height: 500px;
    max-height: 400px;
    margin-left: 18%; }

.pagination {
  background-color: #842B1A;
  margin: 2%;
  padding-left: 32%; }

.threepictures img {
  position: relative;
  width: 100%;
  height: 100%; }

.pagination {
  align-items: center; }

/*# sourceMappingURL=style.css.map */
